/* screen - frame-1-all-breakpoints */

.frame-1-all-breakpoints {
  display: flex;
  min-height: 4330px;
  min-width: 1312px;
  width: 100%;
}

.frame-1-all-breakpoints .x1280px-portfolio-template {
  display: flex;
  width: 1312px;
}

.frame-1-all-breakpoints .x1280px-portfolio-template-1 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 4330px;
  position: relative;
  width: 1312px;
}

.frame-1-all-breakpoints .navigation-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.frame-1-all-breakpoints .logo-1 {
  display: flex;
  height: 30px;
  margin-left: 50px;
  width: 49px;
}

.frame-1-all-breakpoints .erik-ux-1 {
  color: var(--black);
  flex: 1;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
  width: 65px;
}

.frame-1-all-breakpoints .nav-nav-menu {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
  width: 450px;
}

.frame-1-all-breakpoints .erikkuiperoutlookcom {
  color: var(--black);
  cursor: pointer;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  margin-right: 27px;
  text-decoration: underline;
  white-space: nowrap;
  width: 209px;
}

.frame-1-all-breakpoints .phone {
  color: var(--black);
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  margin-right: 32px;
  white-space: nowrap;
  width: 108px;
}

.frame-1-all-breakpoints .linked-in {
  color: var(--black);
  cursor: pointer;
  font-weight: 400;
  height: 28px;
  line-height: 28px;
  margin-right: 6px;
  text-decoration: underline;
  white-space: nowrap;
  width: 68px;
}

.frame-1-all-breakpoints .header-2 {
  align-self: stretch;
  background-color: var(--white);
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 100px;
  width: 100%;
}

.frame-1-all-breakpoints .header-3 {
  gap: 28px;
  width: 1080px;
}

.frame-1-all-breakpoints .headline-subhead-3 {
  display: inline-flex;
  gap: 40px;
}

.frame-1-all-breakpoints .interaction-design {
  color: var(--black);
  font-weight: 600;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  width: 557px;
}

.frame-1-all-breakpoints .portfolio-erik-kuiper-1 {
  color: var(--azure-radiance);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 90px;
  position: relative;
  width: 557px;
}

.frame-1-all-breakpoints .image-5 {
  height: 362.5px;
  position: relative;
  width: 277.85px;
}

.frame-1-all-breakpoints .image-5 video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.frame-1-all-breakpoints .image-5 img {
  object-fit: cover;
}

.frame-1-all-breakpoints .latest-work-section-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 1489px;
  padding: 20px 100px;
  position: relative;
  width: 100%;
}

.frame-1-all-breakpoints .portfolio-selection {
  color: var(--black);
  font-weight: 600;
  line-height: 42px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-1-all-breakpoints .work-card-2 {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
  transition: all 0.2s ease;
}

.frame-1-all-breakpoints .work-card-2:hover {
  transform: scale(0.9); 
}

.frame-1-all-breakpoints .image-3 {
  height: 315px;
  position: relative;
  width: 315px;
}

.frame-1-all-breakpoints .headline-subhead-4 {
  display: flex;
  gap: 10px;
  width: 315px;
}

.frame-1-all-breakpoints .project-title-1 {
  color: var(--black);
  font-weight: 600;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  width: 315px;
}

.frame-1-all-breakpoints .image-4 {
  height: 315px;
  object-fit: cover;
  position: relative;
  width: 315px;
}

.frame-1-all-breakpoints .clients-section-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 100px 100px 150px;
  position: relative;
  width: 100%;
}

.frame-1-all-breakpoints .client-cards-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 55px;
  position: relative;
}

.frame-1-all-breakpoints .recommendations {
  color: var(--black);
  font-weight: 600;
  height: 27px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 312px;
}

.frame-1-all-breakpoints .client-card-mobile-1 {
  align-items: flex-start;
  background-color: var(--quarter-pearl-lusta);
  border: 1.5px solid;
  border-color: var(--grandis);
  display: flex;
  gap: 10px;
  padding: 30px 50px 30px 30px;
  position: relative;
  width: 315px;
}

.frame-1-all-breakpoints .client-card-1 {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  margin-right: -30.00px;
  position: relative;
}

.frame-1-all-breakpoints .this-is-a-template-f-1 {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  width: 263px;
}

.frame-1-all-breakpoints .client-info-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 265px;
}

.frame-1-all-breakpoints .author-images-3 {
  background-image: url(../img/property-author-image-1@2x.png);
}

.frame-1-all-breakpoints .rate-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: -14.00px;
  position: relative;
  width: 221px;
}

.frame-1-all-breakpoints .voornaam-achter-rol-bedrijf-1 {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  width: 221px;
}

.frame-1-all-breakpoints .author-images-4 {
  background-image: url(../img/property-author-image-2@2x.png);
}

.frame-1-all-breakpoints .author-images-5 {
  background-image: url(../img/property-author-image-3@2x.png);
}

.frame-1-all-breakpoints .text {
  color: var(--black);
  font-weight: 600;
  height: 27px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: 312px;
}

.frame-1-all-breakpoints .footer-1 {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 100px 70px;
  position: relative;
  width: 100%;
}

.frame-1-all-breakpoints .footer-info-2 {
  align-items: center;
  border-color: var(--black-3);
  border-top-style: solid;
  border-top-width: 2px;
  display: inline-flex;
  flex-direction: column;
  gap: 70px;
  padding: 70px 0px 0px;
}

.frame-1-all-breakpoints .footer-info-3 {
  align-items: flex-start;
  display: flex;
  gap: 190px;
  width: 1112px;
}

.frame-1-all-breakpoints .contact-info-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: 704px;
}

.frame-1-all-breakpoints .footer-message-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 40px;
  margin-right: -43.00px;
  position: relative;
}

.frame-1-all-breakpoints .lets-work-together-1 {
  color: var(--black);
  font-weight: 600;
  line-height: 42px;
  margin-top: -1.00px;
  position: relative;
  width: 360px;
}

.frame-1-all-breakpoints .i-would-like-to-go-i-1 {
  color: transparent;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  width: 747px;
}

.frame-1-all-breakpoints .span0 {
  color: var(--black);
}

.frame-1-all-breakpoints .span1 {
  color: var(--azure-radiance);
}

.frame-1-all-breakpoints .author-images {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: var(--iron);
  border-radius: 100px;
  height: 50px;
  position: relative;
  width: 50px;
}

.frame-1-all-breakpoints .clients-cards {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 67.5px;
  position: relative;
}

.frame-1-all-breakpoints .footer-info {
  flex: 0 0 auto;
  position: relative;
}

.frame-1-all-breakpoints .header {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  position: relative;
}

.frame-1-all-breakpoints .headline-subhead {
  align-items: flex-start;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}
/* screen - frame-2 */

.frame-2 {
  display: flex;
  min-height: 5976.03px;
  min-width: 375px;
  width: 100%;
}

.frame-2 .x375px-portfolio-template {
  display: flex;
  width: 375px;
}

.frame-2 .x375px-portfolio-template-1 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  height: 5976.03px;
  position: relative;
  width: 375px;
}

.frame-2 .navigation {
  align-self: stretch;
  background-color: var(--white);
  height: 80px;
  position: relative;
  width: 100%;
}

.frame-2 .flex-row {
  align-items: flex-start;
  display: flex;
  left: 50px;
  min-width: 306px;
  position: relative;
  top: 25px;
}

.frame-2 .logo {
  display: flex;
  height: 30px;
  width: 49px;
}

.frame-2 .erik-ux {
  color: var(--black);
  flex: 1;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
  width: 65px;
}

.frame-2 .icon-envelope-square {
  cursor: pointer;
  height: 32px;
  margin-left: 107px;
  width: 32px;
}

.frame-2 .icon-alternate-phone-square {
  height: 32px;
  margin-left: 27px;
  width: 32px;
}

.frame-2 .icon-social-linkedin {
  cursor: pointer;
  height: 32px;
  margin-left: 27px;
  width: 32px;
}

.frame-2 .header {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 50px 30px 60px;
  position: relative;
  width: 100%;
}

.frame-2 .header-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

.frame-2 .headline-subhead-1 {
  gap: 20px;
}

.frame-2 .headline-subhead-2 {
  gap: 24px;
}

.frame-2 .interaction-design-usability-ux {
  color: var(--black);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-l);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 315px;
}

.frame-2 .portfolio-erik-kuiper {
  color: var(--azure-radiance);
  font-family: var(--font-family-epilogue);
  font-size: 59px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 315px;
}

.frame-2 .with-my-eye-for-deta {
  color: var(--black);
  font-weight: 400;
  line-height: 27px;
  position: relative;
  text-align: center;
  width: 315px;
}

.frame-2 .latest-work-section {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
  padding: 40px 30px;
  position: relative;
  width: 100%;
}

.frame-2 .tion {
  color: var(--black);
  font-weight: 600;
  line-height: 42px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-2 .work-card-1 {
  align-items: flex-start;
  cursor: pointer;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
  transition: all 0.2s ease;
}

.frame-2 .work-card-1:hover {
  transform: scale(1.1);
}

.frame-2 .image-2 {
  cursor: pointer;
}

.frame-2 .headline-subhead {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 315px;
}

.frame-2 .work-card {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.frame-2 .image {
  height: 315px;
  position: relative;
  width: 315px;
}

.frame-2 .clients-section {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  height: 1600px;
  justify-content: center;
  padding: 60px 30px 90px;
  width: 100%;
}

.frame-2 .client-cards {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
}

.frame-2 .clients-cards {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 60px;
}

.frame-2 .client-card-mobile {
  align-items: flex-start;
  background-color: var(--quarter-pearl-lusta);
  border: 1.5px solid;
  border-color: var(--grandis);
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 30px 50px 30px 30px;
  position: relative;
  width: 315px;
}

.frame-2 .client-card {
  align-items: flex-start;
  align-self: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: 28px;
  margin-right: -30.00px;
}

.frame-2 .this-is-a-template-f {
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  width: 263px;
}

.frame-2 .client-info {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  width: 265px;
}

.frame-2 .author-images {
  background-image: url(../img/property-author-image-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: var(--iron);
  border-radius: 100px;
  height: 50px;
  position: relative;
  width: 50px;
}

.frame-2 .rate {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: -14.00px;
  position: relative;
  width: 221px;
}

.frame-2 .voornaam-achter-rol-bedrijf {
  letter-spacing: 0;
  line-height: 27px;
  margin-top: -1.00px;
  position: relative;
  width: 221px;
}

.frame-2 .footer {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 30px 70px;
  position: relative;
  width: 100%;
}

.frame-2 .footer-info {
  align-items: center;
  border-color: var(--black-3);
  border-top-style: solid;
  border-top-width: 2px;
  display: inline-flex;
  gap: 70px;
  padding: 70px 0px 0px;
}

.frame-2 .footer-info-1 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 80px;
  position: relative;
  width: 315px;
}

.frame-2 .contact-info {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 17px;
  position: relative;
  width: 315px;
}

.frame-2 .footer-message {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  width: 315px;
}

.frame-2 .lets-work-together {
  color: var(--black);
  font-weight: 600;
  line-height: 42px;
  margin-top: -1.00px;
  position: relative;
  width: 315px;
}

.frame-2 .icon {
  cursor: pointer;
  height: 32.34px;
  position: relative;
  width: 32.34px;
}

.frame-2 .icon-alternate-phone-square-1 {
  height: 32.34px;
  position: relative;
  width: 32.34px;
}

.frame-2 .author-images-3 {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: var(--iron);
  border-radius: 100px;
  height: 50px;
  position: relative;
  width: 50px;
}

.frame-2 .client {
  flex: 0 0 auto;
  position: relative;
}

.frame-2 .clients {
  align-items: flex-start;
  position: relative;
}

.frame-2 .footer-1 {
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.frame-2 .headline-subhead-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
}

.frame-2 .image-3 {
  height: 315px;
  object-fit: cover;
  position: relative;
  width: 315px;
}
@media screen and (max-width: 1311px) {
  .screen.frame-1-all-breakpoints { 
    display: none;
   }
}
@media screen and (min-width: 1312px) {
  .screen.frame-2 { 
    display: none;
   }
}