:root { 
  --azure-radiance: #0596ff;
  --black: #2d2d2d;
  --black-2: #000000;
  --black-3: #00000033;
  --grandis: #ffd285;
  --grey: #f3f3f3;
  --iron: #d7d7d7;
  --quarter-pearl-lusta: #fffcf5;
  --white: #ffffff;
 
  --font-size-65px: 65px;
  --font-size-l: 19px;
  --font-size-m: 17px;
  --font-size-s: 15px;
  --font-size-xl: 20px;
  --font-size-xxl: 27px;
  --font-size-xxxl: 32px;
  --font-size-xxxxl: 80px;
 
  --font-family-epilogue: "Epilogue", Helvetica;
}
.h2 {
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.body-text {
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.subtitle {
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.h1---mobile {
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-65px);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.h3 {
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
}

.epilogue-bold-thunder-17px {
  color: var(--black);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.epilogue-normal-thunder-20px {
  color: var(--black);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}

.epilogue-normal-thunder-15px {
  color: var(--black);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.epilogue-bold-thunder-20px {
  color: var(--black);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
