.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 395px;
  height: 567px;
  align-items: flex-start;
  gap: 68px;
  padding: 42px;
  position: relative;
  background-color: #fffcf5;
  border: 1px solid;
  border-color: #ffd285;
}

.testimonial-card .this-is-a-template {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.testimonial-card .client-image-info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -32px;
}

.testimonial-card .client-image {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimonial-card .client-info-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.testimonial-card .name-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.testimonial-card .gemma-nolen {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--black);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.testimonial-card .google {
  position: relative;
  align-self: stretch;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 27px;
}
