.portfolio-template {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.portfolio-template .header-section {
  flex-wrap: wrap;
  align-items: center;
  gap: 47px 42px;
  padding: 42px 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  display: flex;
  position: relative;
}

.portfolio-template .header-content {
  flex-direction: column;
  max-width: 620px;
  width: 516px;
  align-items: flex-start;
  justify-content: center;
  gap: 48px;
  display: flex;
  position: relative;
}

.portfolio-template .title-subtitle {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio-template .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #2d2d2d;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.portfolio-template .portfolio-erik {
  position: relative;
  align-self: stretch;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: #0596ff;
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.portfolio-template .div {
  position: relative;
  align-self: stretch;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
}

.portfolio-template .button {
  display: flex;
  width: 255px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0596ff;
  border-radius: 10px;
}

.portfolio-template .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.portfolio-template .headerimage {
  position: relative;
  width: 256px;
  height: 360px;
}

.portfolio-template .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 42px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
}

.portfolio-template .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #2d2d2d;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 42px;
}

.portfolio-template .div-3 {
  flex-wrap: wrap;
  gap: 24px 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.portfolio-template .div-4 {
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 419px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.portfolio-template .image {
  height: 330px;
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio-template .title-description {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio-template .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--black);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.portfolio-template .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.portfolio-template .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.portfolio-template .component {
  display: flex;
  flex-direction: column;
  width: 394.67px;
  height: 419px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.portfolio-template .img {
  height: 330px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio-template .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  height: 42px;
  margin-top: -1px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--black);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  white-space: nowrap;
  font-style: var(--h2-font-style);
}

.portfolio-template .testimonial-card {
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 567px;
  align-items: flex-start;
  gap: 68px;
  padding: 42px;
  position: relative;
  background-color: #fffcf5;
  border: 1px solid;
  border-color: #ffd285;
}

.portfolio-template .this-is-a-template {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 30px;
}

.portfolio-template .client-image-info {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio-template .client-image {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.portfolio-template .client-info-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.portfolio-template .name-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio-template .google {
  position: relative;
  align-self: stretch;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 15px;
  letter-spacing: 0;
  line-height: 27px;
}

.portfolio-template .testimonial-card-2 {
  width: 384px;
  gap: 68px;
  display: flex;
  flex-direction: column;
  height: 567px;
  align-items: flex-start;
  padding: 42px;
  position: relative;
  background-color: #fffcf5;
  border: 1px solid;
  border-color: #ffd285;
}

.portfolio-template .gemma-nolen {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: #2d2d2d;
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.portfolio-template .testimonial-card-3 {
  width: 383px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 567px;
  align-items: flex-start;
  padding: 42px;
  position: relative;
  background-color: #fffcf5;
  border: 1px solid;
  border-color: #ffd285;
}

.portfolio-template .testimonial-card-4 {
  width: 382px;
  gap: 68px;
  display: flex;
  flex-direction: column;
  height: 567px;
  align-items: flex-start;
  padding: 42px;
  position: relative;
  background-color: #fffcf5;
  border: 1px solid;
  border-color: #ffd285;
}

.portfolio-template .div-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 42px 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.portfolio-template .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: #0596ff;
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}

.portfolio-template .component-2 {
  flex-wrap: wrap;
  min-width: 320px;
  gap: 24px 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.portfolio-template .title-description-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.portfolio-template .p {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.portfolio-template .div-6 {
  display: flex;
  flex-direction: column;
  width: 383px;
  height: 719px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.portfolio-template .image-2 {
  height: 719px;
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio-template .component-3 {
  flex-direction: column;
  width: 384px;
  height: 719px;
  gap: 24px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.portfolio-template .component-4 {
  flex-direction: column;
  min-width: 320px;
  gap: 24px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.portfolio-template .text-wrapper-9 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.portfolio-template .download-the-current {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: transparent;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.portfolio-template .span {
  color: #2d2d2d;
  font-family: var(--body-text-font-family);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-size: var(--body-text-font-size);
}

.portfolio-template .text-wrapper-10 {
  color: #0596ff;
  text-decoration: underline;
  font-family: var(--body-text-font-family);
  font-style: var(--body-text-font-style);
  font-weight: var(--body-text-font-weight);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-size: var(--body-text-font-size);
}

.portfolio-template .image-3 {
  height: 719px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio-template .result-AR-software {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 17px;
  letter-spacing: 0;
  line-height: 27px;
}

.portfolio-template .text-wrapper-11 {
  color: #0596ff;
  text-decoration: underline;
}

.portfolio-template .serious-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 42px 20px 124px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.portfolio-template .div-7 {
  flex-direction: column;
  width: 383px;
  height: 636px;
  gap: 24px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.portfolio-template .image-4 {
  height: 719px;
  margin-bottom: -83px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.portfolio-template .contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 68px 42px;
  padding: 20px 20px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.portfolio-template .header-content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 7px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.portfolio-template .title-subtitle-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.portfolio-template .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: #2d2d2d;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.portfolio-template .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}

.portfolio-template .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: #0596ff;
  border-radius: 10px;
}

.portfolio-template .tussenruimte {
  width: 1280px;
  height: 9px;
  position: relative;
  background-color: var(--white);
}

.portfolio-template .linked-in {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 89px;
  background-color: var(--white);
  overflow: hidden;
}

.portfolio-template .frame {
  width: 72px;
  top: 19px;
  left: 35px;
  position: relative;
  height: 90px;
}

.portfolio-template .linked-in-wrapper {
  display: flex;
  flex-direction: column;
  width: 99px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  top: -20px;
  left: -27px;
  position: relative;
  height: 90px;
}

.portfolio-template .linked-in-2 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 89px;
}

.portfolio-template .tussenruimte-2 {
  align-self: stretch;
  width: 100%;
  height: 38px;
  position: relative;
  background-color: var(--white);
}
