.element-portfolio {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.element-portfolio .navigation-instance {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-portfolio .design-component-instance-node {
  left: 206px !important;
}

.element-portfolio .navigation-2 {
  left: 265px !important;
}

.element-portfolio .navigation-3 {
  left: 324px !important;
}

.element-portfolio .design-component-instance-node-2 {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-portfolio .latest-work-section-instance {
  background-color: unset !important;
}

.element-portfolio .clients-section-instance {
  align-self: stretch !important;
  display: flex !important;
  height: 1600px !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}
