.author-images {
  background-position: 50% 50%;
  background-size: cover;
  border: 1px solid;
  border-color: #d7d7d7;
  border-radius: 100px;
  height: 50px;
  position: relative;
  top: 20px;
  width: 50px;
}

.author-images.property-4 {
  background-image: url(../../../static/img/property-property4.png);
  left: 230px;
}

.author-images.property-6 {
  background-image: url(../../../static/img/property-property6.png);
  left: 370px;
}

.author-images.property-5 {
  background-image: url(../../../static/img/property-property5.png);
  left: 300px;
}

.author-images.author-image-1 {
  background-image: url(../../../static/img/property-author-image-1.png);
  left: 20px;
}

.author-images.author-image-3 {
  background-image: url(../../../static/img/property-author-image-3.png);
  left: 160px;
}

.author-images.author-image-2 {
  background-image: url(../../../static/img/property-author-image-2.png);
  left: 90px;
}
