.element-about-page {
  align-items: flex-start;
  background-color: #00000080;
  flex-direction: column;
  position: relative;
}

.element-about-page .element-px-about-page {
  align-items: flex-start;
  flex-direction: column;
}

.element-about-page .body-instance {
  height: 1778px !important;
  left: unset !important;
  top: unset !important;
}

.element-about-page .body-2 {
  margin-bottom: -95px !important;
}

.element-about-page .body-3 {
  color: #0596ff !important;
}

.element-about-page .footer-3 {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-about-page .body-4 {
  margin-bottom: -74px !important;
  margin-top: -74px !important;
}

.element-about-page .body-5 {
  background-color: unset !important;
}

.element-about-page .body-6 {
  height: 700px !important;
  left: unset !important;
  top: unset !important;
}
