.element-px-portfolio {
  height: 4330px;
  width: 1312px;
}

.element-px-portfolio .element-portfolio-2 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.element-px-portfolio .navigation-4 {
  align-self: stretch !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-px-portfolio .navigation-5 {
  left: 817px !important;
}

.element-px-portfolio .navigation-6 {
  text-decoration: underline !important;
}

.element-px-portfolio .design-component-instance-node-3 {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-px-portfolio .latest-work-section-3 {
  align-self: stretch !important;
  display: flex !important;
  height: 1489px !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-px-portfolio .latest-work-section-4 {
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  transition: all 0.2s ease !important;
}

.element-px-portfolio .latest-work-section-5 {
  background-color: unset !important;
}

.element-px-portfolio .clients-section-2 {
  left: unset !important;
  top: unset !important;
}

.element-px-portfolio .footer-instance {
  align-self: stretch !important;
  flex: 0 0 auto !important;
  left: unset !important;
  top: unset !important;
  width: 100% !important;
}

.element-px-portfolio .footer-2 {
  margin-left: unset !important;
  margin-right: unset !important;
}
